conda.enabled = true

params { 
    // Input parameters
    hifi_reads = null
    primary_asm = null
    mode = "default"

    // Resource parameters
    nthreads = 18

    // Output Directory
    outdir = './results'

    // Tool paths
    purge_dups = "/data2/work/local/purge_dups"
    // Conda environments
    busco_conda = "/data2/work/local/miniconda/envs/busco583"
    quast_conda = "/data2/work/local/miniconda/envs/quast"

    // Assembly parameters
    est_ref_size = 800000000 // 800 Mb
    busco_lineage = "actinopterygii_odb12" 
    busco_db_path = "/data2/busco_June2024/busco_downloads"

}


params {
    nthreads = 18

    hifi_reads = null

    mode = "default"

    primary_asm = null

    // unchanged parameters
    purge_dups = "/data2/work/local/purge_dups"

    // quast and busco - paths defined in conda
    busco_conda = "/data2/work/local/miniconda/envs/busco583"
    quast_conda = "/data2/work/local/miniconda/envs/quast"

    est_ref_size = 800000000 //800 Mb
    busco_db_path = "/data2/busco_June2024/busco_downloads"




// Execution reports
timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true

}
